.advertisings {
  background: url("../../img/bg-advertising.png") center / cover no-repeat;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  &__title {
    font-weight: bold;
    font-size: 44px;
    line-height: 65px;
    color: #ffffff;
    margin: 0;
    font-family: "Oswald", sans-serif;
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #fff;
  }
  &__right {
    margin-top: 49px;
    margin-bottom: 49px;
    padding: 44px 48px 39px 48px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    &-title {
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      color: #000;
      margin-bottom: 27px;
      font-family: "Oswald", sans-serif;
    }
    &-form {
      display: flex;
      flex-direction: column;
    }
    &-policy {
      margin-top: 15px;
      color: #333333;
      font-size: 15px;
      line-height: 23px;
      border-bottom: 1px solid #333333;
    }
  }
}

.form {
  &__input {
    padding: 21px 150px 16px 23px;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    outline: none;
    background-color: rgba($color: #219653, $alpha: 0.03);
    font-size: 15px;
    line-height: 23px;
    &-name {
      margin-bottom: 15px;
      color: #333333;
    }
    &-tel {
      margin-bottom: 30px;
      color: #333333;
    }
  }
  &__btn {
    padding: 21px 148px 16px 149px;
    background-color: $green;
    color: #ffff;
    font-size: 15px;
    line-height: 23px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

.js-info {
  width: 34px;
  height: 34px;
  background-color: $green;
  font-size: 22px;
  line-height: 26px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); // Центрируем и масштабируем в 0 само окно
  background: #fff;
  width: 100%;
  padding: 87px 0 88px 0;
  transition: 0.5s all;
  &-conatiner {
    max-width: 1208px;
    margin: auto;
    position: relative;
  }
  &__conatiner-img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__img {
    width: 344px;
    height: 270px;
  }
  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000;
    padding-bottom: 20px;
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
  &__text {
    font-size: 16px;
    line-height: 28px;
    color: $black;
    font-family: "Roboto", sans-serif;
  }
  &.active {
    transform: translate(-50%, -50%) scale(1); // Так же центрируем и плавно увеличиваем
    transition: 0.5s all;
  }
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; // Скрываем фон и сам попап
    pointer-events: none; // Запрещаем ему быть целью событий
    transition: 0.5s all;
    &.active {
      opacity: 1; // Показываем фон и попап
      pointer-events: all; // Возвращаем события
      transition: 0.5s all;
    }
  }
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
